{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>My Portfolio -  Navneet Srivastava</title>
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="container">
	<br>
	<div class="row">
		<div class="col-md-3">
			<div class="card card-body h-100">
				<img src="{% static '/images/pp.jpg'%}" class="img-fluid img-thumbnail" alt="">
				<hr>
				<h4 class="text-center">Hi I'm Navneet</h4>
				<p class="text-center">Computer Science Student, Inrested in web Developemnt & Designing, new in Data Science</p>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card card-body h-100">
				<h4>What is Lorem Ipsum?</h4>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
					<i class="fa fa-facebook " aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-github" aria-hidden="true"></i>

				</p>
			</div>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card card-body">
				<h4>What is Lorem Ipsum?</h4>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">
				<h4>What is Lorem Ipsum?</h4>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
			</div>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card card-body">
				<h4>What is Lorem Ipsum?</h4>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">
				<h4>What is Lorem Ipsum?</h4>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<br>
				<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
				<p>
			</div>
		</div>
	</div>
</div>



</body>
</html>